 <!--Footer starts here-->
 <div class="clearfix"></div>
 <div class="Footer">
 <div id="social-media">
    
     <b>
         <a href="#" target="_blank"><span class="fa fa-whatsapp"></span></a>
         <a href="#" target="_blank"><span class="fa fa-instagram"></span></a>
         <a href="#" target="_blank"><span class="fa fa-twitter"></span></a>
         <a href="#" target="_blank"><span class="fa fa-google-plus"></span></a>
         <a href="#" target="_blank"><span class="fa fa-pinterest-square"></span></a>
         <a href="https://www.facebook.com/GECRj" target="_blank"><span class="fa fa-facebook"></span></a>
     </b>
 </div>
 </div>

 <!--footer ends here-->        